<div class="text-center">
  <h1><%= @question %></h1>
  <div>-- You</div>
</div>
<div class="text-center">
  <h1><%= @answer %></h1>
  <div>-- Your coach</div>
</div>

<%= link_to 'Ask a new question', ask_path %>
